.contact-table {
    background-color:rgba(255, 255, 255, 0.1);
    border:1px solid black;
    margin-left:200px;
    margin-top:50px;
    border-radius: 25px;
    width:70%;
    color:rgb(255,255,255);
    overflow-x:auto;
    letter-spacing: 2px;
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: 2.5vh;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    background: radial-gradient(
      ellipse at left bottom,
      rgba(22, 24, 47, 1) 0%,
      rgba(38, 20, 72, 0.9) 59%,
      rgba(17, 27, 75, 0.9) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

th {
    height:100px;
    border-bottom: 5px solid white;
    }


td {
    padding:35px;
    /*border-bottom: 1px solid brown*/
}
tr {
    text-align: center;
}


tr:hover {
    background-color:rgb(56, 62, 124);
}

.heading:hover {
   background-color: rgba(22, 24, 47, 1); 
}

.remove{
    color:white;
    size:2rem;
    cursor: pointer;
}


/*Toggle*/

  .switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: 6px;
    bottom: 4px;
    background-color: rgba(255, 252, 49, 0.76);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 48%;
  }
  
  input:checked + .slider {
    background-color: #2ab934;
  }
  
  
  input:checked + .slider:before {
    /*-webkit-transform: translateX(42px);
    -ms-transform: translateX(26px);*/
    transform: translateX(55px);
  }
  
  .slider:after
  {
   content:'SORT';
   color: rgb(2, 2, 12);
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-size: 10px;
   font-weight: 800;
   font-family: Verdana, sans-serif;
  }
  
  input:checked + .slider:after
  {  
    content:'DONE';
    font-weight: 800;
  }
  