@import url('https://fonts.googleapis.com/css?family=Roboto')
/*Form*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.wrap-contact{
    position:relative;
    margin-top:7%;
    width:100%;
    padding: 0 20px;
}

.contact-form{
    max-width: 550px;
    margin:0 auto;
    background:rgba(0,0,0,0.7);
    padding:30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,1.3);
}

.input-contact {
    width:70%
}

.input-fields .input-contact{
    margin:10px 0;
    background: transparent;
    border:0;
    border-bottom: 2px solid #df07df;
    padding: 10px;
    color:#df07df;
    width:90%
}

::-webkit-input-placeholder{
    color:#df07df;  
}

.btn-sub{
    background: #c704c7;
    text-align: center;
    margin-top:10px;
    margin-left:40%;
    padding: 15px;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    text-transform: uppercase;
}

/*//////////////////////////////////////////////////////////////////////*/
.addfriend {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
}

.contact-button {
    align-items: center;
    justify-content: center;
    margin-top:70px;
    display:flex;
}

.contact-tables {
    background-color:rgba(255, 255, 255, 0.1);
    border:1px solid black;
    border-radius: 25px;
    width:100%;
    color:rgb(255,255,255);
    overflow-x:auto;
    letter-spacing: 2px;
    display: flex;
    font-family: "Lato", sans-serif;
    font-size: 2.5vh;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    background: radial-gradient(
      ellipse at left bottom,
      rgba(22, 24, 47, 1) 0%,
      rgba(38, 20, 72, 0.9) 59%,
      rgba(17, 27, 75, 0.9) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

th {
    height:100px;
    border-bottom: 5px solid white;
    }


td {
    padding:35px;
    /*border-bottom: 1px solid brown*/
}
tr {
    text-align: center;
}


tr:hover {
    background-color:rgb(56, 62, 124);
}

.heading:hover {
   background-color: rgba(22, 24, 47, 1); 
}

.remove{
    color:white;
    size:2rem;
    cursor: pointer;
}
